*{
 padding: 0;
 margin: 0;   
}

.wrapper {
    background: url(bg-img.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0, 0.2);
}

.logo{
    width: 160px;
    height: auto;
    padding: 30px 80px -100px;
}

.navbar ul {
    float: right;
    margin-right: 20px;

}


.navbar ul li {
    list-style: none;
    margin: 0;
    display: inline-block ;
    line-height: 120px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family:  'Trebuchet MS', sans-serif;
    transition: 4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
   background: grey;
   border-radius: 2px;
}

.wrapper .center {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50% , -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: wheat;
    font-size: 70px;
    font-weight: bold;
    width: 1400px;
}

.center h2{
    color: rgb(135, 132, 128);
    font-size: 70px;
    margin-top: 10px;
    font-weight: bold;
    width: 1400px;
}

.center .buttons{
    margin: 35px 28px;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: gray;
    border: 1px solid rgb(235, 231, 231);
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;

}

.buttons .btn{
    margin-left: 25px;
}

.buttons button:hover{
    background: #707070;
}